section{
    border: 2px solid black;
    border-radius: 5px;
}
section h2{
    background-color: rgb(91, 91, 91);
    color: white;
    text-align: center;
}
article{
    border: 5px solid black;
    margin: 0 20px 20px 20px;
    background-color: rgb(150, 150, 150);
    
}
article p{
    color: white;
    margin: 3vh 3vw;

}

ul li:first-child{
    background-color: white;
}
ul li:nth-of-type(2){
    color: white;
    font-size: 0.6cm;
    
}
ul li:last-child{
    background-color: white;
    font-size: 0.7cm;
}

article h3{
    color: white;
    font-size: 2cm;
}
ul{
    list-style: none;
}